#!/bin/bash
export WEBSERVER_IP="10.0.1.7"
export WORKSTATION_IP="10.0.1.5"
export DNS_IP="10.0.1.6"
export MONITOR_IP="10.0.1.132"
export GATEWAY_IP="10.0.1.1"
echo "[*] IPs de esta instancia:"
echo "    webserver    : $WEBSERVER_IP"
echo "    workstation  : $WORKSTATION_IP"
echo "    dns_server   : $DNS_IP"
echo "    monitor      : $MONITOR_IP"
